@use "../abstracts/mixins" as *;

.container {
  @include container;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1450px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1550px;
  }
}

@media (min-width: 1700px) {
  .container {
    max-width: 1650px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1750px;
  }
}

@media (min-width: 1900px) {
  .container {
    max-width: 1850px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1950px;
  }
}

@media (min-width: 2100px) {
  .container {
    max-width: 2050px;
  }
}

@media (min-width: 2200px) {
  .container {
    max-width: 2150px;
  }
}
